@page "/Andre"
<h3>Andre</h3>
<div style="border: 2px solid dimgray; border-radius:5px;padding:10px;">
    <p style="--cor:orange;">
        PARAGRAFO 1
    </p>
    <p>
        PARAGRAFO 2
    </p>
</div>
@code
{
    public Guid Id { get; set; }


}
